<div class='cartContainer'>
  <div class='cartHeader'>
    <h2>My shopping cart</h2>
  </div>
  <div class='cartItem'>
    {{#each cart}}
      <h3 class='productTitle'>{{product.title}}</h3>
      <ul class='infoList'>
        <li class='productCode'>code: <span>{{product.code}}</span></li>
        <li class='orderQty'>Quantity: <span>{{quantity}}</span></li>
        <li class='productPrice'>price: <span>{{product.price}}$</span></li>
      </ul>
    {{/each}}
    <h3 class='totalAmount'>Total amount: {{cart.amount}}$</h3>
    {{#unless isEmpty}}
      <button id='proceed_btn' data-cid='{{cId}}'>Proceed to purchase</button>
    {{/unless}}
    <a href='{{url}}products'>Go back to market</a>
  </div>

</div>
<script src='/js/cart.js'></script>