<div>
  <h1>Welcome {{first_name}} ({{role}})!</h1>
  <a href='{{url}}products'>Products</a>
  {{#if cid}}
    <a href='{{url}}carts/{{cid}}' ``>Cart</a>
  {{/if}}
  <a href='/logout'>Logout</a>
</div>