<div class='order-details'>
  <h2>Order Details</h2>
  <p><strong>Amount:</strong> {{amount}}$</p>
  <p><strong>Emitted By:</strong> {{emittedBy}}</p>
  <p><strong>Code:</strong> {{code}}</p>
  <p><strong>Created at:</strong> {{createdAt}}</p>
  <button id='placeOrderBtn' data-oid={{oid}}>Place Order</button>
</div>
<script src='/js/order.js'></script>