<div>
    {{#if title}}
    <h1 class="listTitle">{{title}}</h1>
    {{else}}
    <h1>Unknown Title</h1>
    {{/if}}
    {{#each products}}
        <div class="productContainer">
            <h3 class="productsHead">{{this.title}}</h3>
            <ul style="list-style: none;">
            <li>{{this.description}}</li>
            <li>{{this.price}}$</li>
        </div>
        {{/each}}
</div>