<div>
    <h1 class="addTitleForm">Add new product to the list</h1>

    <form id="addProductForm">
        <input type="text" id="productTitle" name="productName" placeholder="title" required>
        <input type="text" id="productDescription" name="productDescription" placeholder="description" required>
        <input type="text" id="productCategory" name="productCategory" placeholder="category" required>
        <input type="number" id="productPrice" name="productPrice" placeholder="price" step="0.01" required>
        <input type="text" id="productThumbnail" name="productThumbnail" placeholder="thumbnail" required>
        <input type="text" id="productCode" name="productCode" placeholder="code" required>
        <input type="number" id="productStock" name="productStock" placeholder="stock" required>
        <select type="text" id="productStatus" name="productStatus" placeholder="status" required>
            <option value="true">true</option>
            <option value="false">false</option>
        </select>

        <button type="submit">Add</button>
    </form>

    <h1>Delete a product from the list</h1>
    <form id="deleteProductForm">
        <input type="number" id="productId" name="productId" placeholder="id" required>
        <button type="submit">Delete</button>
    </form>
</div>
<div>
    {{#if title}}
    <h1 class="listTitle">{{title}}</h1>
    {{else}}
    <h1>Unknown Title</h1>
    {{/if}}
    {{#each products}}
        <div class="productContainer">
            <h3 class="productsHead">{{this.title}}</h3>
            <ul style="list-style: none;">
            <li>{{this.description}}</li>
            <li class="productPrice">{{this.price}}$</li>
        </div>

        </ul>
        {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>